.bottle {
    border: 5px solid darkkhaki;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.bottle  img {
    width: 300px;
    border-radius: 5px;
    display: block;
    margin: auto;
    -ms-transform-origin-x:  center;
}